.home {
  padding: 2rem 1rem;
}

.home__filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home__grid-wrapper {
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .home__filters {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
