.podcast-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .podcast-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .podcast-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
